.btn-cart{
    position: relative;
    background-color: transparent;
  }
  .btn-cart:hover{
    cursor: pointer;
  }
  .btn-cart .badge{
    position: absolute;
    top: 0;
    right:0;
  }
  .dropdown-menu-right{
    right:0;
    left:auto;
  }
  .jumbo-bg{
    background-image: url(https://images.unsplash.com/photo-1536593998369-f0d25ed0fb1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-position: center center;
    min-height: 500px;
  }
  .card-bg{
    background-size: cover;
    background-position: center center; 
  }
  .bg-lighter{
    background-color: rgba(255, 255, 255, .45);
  }
  .card-footer-bg{
    background-color: transparent;
  }
  .box-shadow{
    box-shadow: 0 3px 5px rgba(0, 0, 0, .16);
    transition: box-shadow .3s; 
  }
  .box-shadow:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, .24);
  }
  .btn.btn-outline-secondary.disabled{
    pointer-events: none;
  }
  .sticky-top-dis{
    top:10px;
    margin-bottom:50px;
  }
  .alert-rounded{
    border-radius: 20px;
  }
  .js-back-to-top{
    display:none;
    position:fixed;
    right:10px;
    bottom:30px;
    cursor: pointer;
    opacity: 0.5;
  }
  .js-back-to-top:hover{
    opacity: 1;
  }