
/* ------------商品標籤------------------ */

#decoration1 {
    text-decoration: none;
}

#itemhover:hover {
    background-color: rgba(233, 219, 219, 0.3);
}

.box {
    width: 240px;
}

.box-bg {
    width: 100%;
    height: 240px;
}

.box-bg img {
    width: 100%;
    height: 100%;
}

.box-text {
    width: 100%;
    background: #ffc107;
}

.box-text h4 {
    text-align: center;
    padding: 5px;
}

.box-text p {
    font-size: 15px;
    color: rgb(227, 64, 64);
    text-align: center;
    padding-bottom: 10px;
}